/* CSS declarations go here */
.weather-chart{
    padding-top:25px;
}

.search-bar{
    margin-top:20px;
    margin-bottom:40px;
}

.google-map{
    width:100%;
}

.icon-img{
    margin-top:20px;
    height:80px;
    width:80px;
}

.weather-chart__data{
    display: flex;
    flex-direction: column;
}

.weather-chart__data-item{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    width: auto;
    margin:5px;
    overflow-wrap: break-word;
}


tr:hover{
    background:rgb(181, 212, 212);
}


.title-container{
    display:flex;
}

.title-text{
    margin-top:40px;
    margin-left:15px;
}

.list-item{
    background-color: rgb(219, 245, 231);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}